* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #010305;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    color: white;
}

nav {
    background-color: #000000;
    opacity: 5;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #141313;
}

.header_nav a img {
    width: 25px; 
    height: auto; 
    vertical-align: middle; 
}

main {
    text-align: center;
}

.title {
    padding-top: 8%;
}

.content-container {
    display: flex; 
    align-items: center;
    max-width: 1000px;
    margin: auto; 
    text-align: left; 
    padding-top: 7%;
}

.skill-picture {
    width: 400px;
    height: 370px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 60px;
}

.text {
    font-size: 1.25em;
    max-width: 600px;
}